NODE_ENV=production

PORT=10000

CACHE_TTL=600

RATE_LIMIT_WINDOW=15

RATE_LIMIT_MAX=100

CORS_ORIGIN=*

REQUEST_TIMEOUT=15

SOURCE_BASE_URL=https://nexustoons.com
SOURCE_MANGA_PATH=/manga
SOURCE_CHAPTER_PATH=/chapter
SOURCE_REFERER=https://nexustoons.com/
SOURCE_NAME=Nexus Toons


NODE_ENV=production

PORT=10000

CACHE_TTL=10

RATE_LIMIT_WINDOW=15

RATE_LIMIT_MAX=100

ANIME_BASE_URL=https://animesonlinecc.to

API_KEY=demo