############################################################
# AMBIENTE
############################################################

NODE_ENV=production

############################################################
# SERVIDOR
############################################################

PORT=10000

############################################################
# CACHE GLOBAL
############################################################

CACHE_TTL=10
CACHE_TTL_HOME=2
CACHE_TTL_LIST=10
CACHE_TTL_DETAILS=30

############################################################
# RATE LIMIT
############################################################

RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX=300

############################################################
# CORS
############################################################

# Exemplo:
# CORS_ORIGIN=https://seusite.com
CORS_ORIGIN=*

############################################################
# FONTES
############################################################

ANIME_BASE_URL=https://animefire.io/

############################################################
# SCRAPER
############################################################

SCRAPER_MAX_CONCURRENT=2
SCRAPER_MAX_RETRIES=2
SCRAPER_HTTP_TIMEOUT=20000
SCRAPER_BROWSER_TIMEOUT=25000
SCRAPER_MIN_DELAY_MS=900
SCRAPER_MAX_DELAY_MS=2200
SCRAPER_PLAYWRIGHT_WAIT_MS=1500

############################################################
# LOGS
############################################################

LOG_LEVEL=info