############################################################
# DEPENDÊNCIAS
############################################################

node_modules/

############################################################
# VARIÁVEIS DE AMBIENTE
############################################################

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

############################################################
# LOGS
############################################################

logs/
*.log

############################################################
# BUILD
############################################################

dist/
build/

############################################################
# CACHE
############################################################

.cache/
coverage/
.nyc_output/

############################################################
# BANCO DE DADOS
############################################################

*.sqlite
*.db

############################################################
# SISTEMA
############################################################

.DS_Store
Thumbs.db

############################################################
# EDITOR
############################################################

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

############################################################
# RUNTIME
############################################################

*.pid
*.seed
*.pid.lock

############################################################
# TESTES
############################################################

playwright-report/
test-results/

############################################################
# TEMP
############################################################

uploads/
temp/
tmp/